<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="checkin">
            <h2><span>Checkin</span> {{checkin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{checkin.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{checkin.longitude}}</span>
                </dd>
                <dt><span>Linha</span></dt>
                <dd>
                    <div *ngIf="checkin.linhaId">
                        <a [routerLink]="['/linha', checkin.linhaId, 'view']">{{checkin.linhaNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/checkin', checkin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
