<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pontoTracadoTrajeto">
            <h2><span>Ponto Tracado Trajeto</span> {{pontoTracadoTrajeto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{pontoTracadoTrajeto.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{pontoTracadoTrajeto.longitude}}</span>
                </dd>
                <dt><span>Posicao</span></dt>
                <dd>
                    <span>{{pontoTracadoTrajeto.posicao}}</span>
                </dd>
                <dt><span>Tipo</span></dt>
                <dd>
                    <span>{{pontoTracadoTrajeto.tipo}}</span>
                </dd>
                <dt><span>Linha</span></dt>
                <dd>
                    <div *ngIf="pontoTracadoTrajeto.linhaId">
                        <a [routerLink]="['/linha', pontoTracadoTrajeto.linhaId, 'view']">{{pontoTracadoTrajeto.linhaId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ponto-tracado-trajeto', pontoTracadoTrajeto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
