<div>
    <h2 id="page-heading">
        <span>Ponto Pesquisas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ponto-pesquisa" [routerLink]="['/ponto-pesquisa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ponto Pesquisa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pontoPesquisas?.length === 0">
        <span>No pontoPesquisas found</span>
    </div>
    <div class="table-responsive" *ngIf="pontoPesquisas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="latitude"><span>Latitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitude"><span>Longitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="posicao"><span>Posicao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipo"><span>Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linhaId"><span>Linha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pontoPesquisa of pontoPesquisas ;trackBy: trackId">
                <td><a [routerLink]="['/ponto-pesquisa', pontoPesquisa.id, 'view' ]">{{pontoPesquisa.id}}</a></td>
                <td>{{pontoPesquisa.latitude}}</td>
                <td>{{pontoPesquisa.longitude}}</td>
                <td>{{pontoPesquisa.posicao}}</td>
                <td>{{pontoPesquisa.tipo}}</td>
                <td>
                    <div *ngIf="pontoPesquisa.linhaId">
                        <a [routerLink]="['../linha', pontoPesquisa.linhaId , 'view' ]" >{{pontoPesquisa.linhaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ponto-pesquisa', pontoPesquisa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ponto-pesquisa', pontoPesquisa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ponto-pesquisa', { outlets: { popup: pontoPesquisa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="pontoPesquisas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
