<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cidade-heading">Create or edit a Cidade</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_latitude">Latitude</label>
                    <input type="text" class="form-control" name="latitude" id="field_latitude"
                           formControlName="latitude"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_longitude">Longitude</label>
                    <input type="text" class="form-control" name="longitude" id="field_longitude"
                           formControlName="longitude"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_latitudeDouble">Latitude Double</label>
                    <input type="number" class="form-control" name="latitudeDouble" id="field_latitudeDouble"
                           formControlName="latitudeDouble"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_longitudeDouble">Longitude Double</label>
                    <input type="number" class="form-control" name="longitudeDouble" id="field_longitudeDouble"
                           formControlName="longitudeDouble"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sameAs">Same As</label>
                    <input type="text" class="form-control" name="sameAs" id="field_sameAs"
                           formControlName="sameAs"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_belongsTo">Belongs To</label>
                    <select class="form-control" id="field_belongsTo" name="belongsTo" formControlName="belongsToId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cidadeOption.id" *ngFor="let cidadeOption of cidades; trackBy: trackCidadeById">{{cidadeOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" formControlName="estadoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estadoOption.id" *ngFor="let estadoOption of estados; trackBy: trackEstadoById">{{estadoOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
