<div>
    <h2 id="page-heading">
        <span>Cidades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cidade" [routerLink]="['/cidade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Cidade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cidades?.length === 0">
        <span>No cidades found</span>
    </div>
    <div class="table-responsive" *ngIf="cidades?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span>Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="latitude"><span>Latitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitude"><span>Longitude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="latitudeDouble"><span>Latitude Double</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="longitudeDouble"><span>Longitude Double</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sameAs"><span>Same As</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="belongsToNome"><span>Belongs To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estadoNome"><span>Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cidade of cidades ;trackBy: trackId">
                <td><a [routerLink]="['/cidade', cidade.id, 'view' ]">{{cidade.id}}</a></td>
                <td>{{cidade.nome}}</td>
                <td>{{cidade.latitude}}</td>
                <td>{{cidade.longitude}}</td>
                <td>{{cidade.latitudeDouble}}</td>
                <td>{{cidade.longitudeDouble}}</td>
                <td>{{cidade.sameAs}}</td>
                <td>
                    <div *ngIf="cidade.belongsToId">
                        <a [routerLink]="['../cidade', cidade.belongsToId , 'view' ]" >{{cidade.belongsToNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cidade.estadoId">
                        <a [routerLink]="['../estado', cidade.estadoId , 'view' ]" >{{cidade.estadoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cidade', cidade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cidade', cidade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cidade', { outlets: { popup: cidade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="cidades?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
