<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cidade">
            <h2><span>Cidade</span> {{cidade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{cidade.nome}}</span>
                </dd>
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{cidade.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{cidade.longitude}}</span>
                </dd>
                <dt><span>Latitude Double</span></dt>
                <dd>
                    <span>{{cidade.latitudeDouble}}</span>
                </dd>
                <dt><span>Longitude Double</span></dt>
                <dd>
                    <span>{{cidade.longitudeDouble}}</span>
                </dd>
                <dt><span>Same As</span></dt>
                <dd>
                    <span>{{cidade.sameAs}}</span>
                </dd>
                <dt><span>Belongs To</span></dt>
                <dd>
                    <div *ngIf="cidade.belongsToId">
                        <a [routerLink]="['/cidade', cidade.belongsToId, 'view']">{{cidade.belongsToNome}}</a>
                    </div>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <div *ngIf="cidade.estadoId">
                        <a [routerLink]="['/estado', cidade.estadoId, 'view']">{{cidade.estadoNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cidade', cidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
