<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ponto">
            <h2><span>Ponto</span> {{ponto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{ponto.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{ponto.longitude}}</span>
                </dd>
                <dt><span>Codigo Android</span></dt>
                <dd>
                    <span>{{ponto.codigoAndroid}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ponto', ponto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
