<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estado">
            <h2><span>Estado</span> {{estado.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{estado.nome}}</span>
                </dd>
                <dt><span>Uf</span></dt>
                <dd>
                    <span>{{estado.uf}}</span>
                </dd>
                <dt><span>Pais</span></dt>
                <dd>
                    <div *ngIf="estado.paisId">
                        <a [routerLink]="['/pais', estado.paisId, 'view']">{{estado.paisNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estado', estado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
