<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="linha">
            <h2><span>Linha</span> {{linha.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{linha.nome}}</span>
                </dd>
                <dt><span>Codigo</span></dt>
                <dd>
                    <span>{{linha.codigo}}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{linha.url}}</span>
                </dd>
                <dt><span>Completa</span></dt>
                <dd>
                    <span>{{linha.completa}}</span>
                </dd>
                <dt><span>Last Update</span></dt>
                <dd>
                    <span>{{linha.lastUpdate}}</span>
                </dd>
                <dt><span>Comentario</span></dt>
                <dd>
                    <span>{{linha.comentario}}</span>
                </dd>
                <dt><span>Itinerario Total Encoding</span></dt>
                <dd>
                    <span>{{linha.itinerarioTotalEncoding}}</span>
                </dd>
                <dt><span>Em Avaliacao</span></dt>
                <dd>
                    <span>{{linha.emAvaliacao}}</span>
                </dd>
                <dt><span>Falta Cadastrar Pontos Pesquisa</span></dt>
                <dd>
                    <span>{{linha.faltaCadastrarPontosPesquisa}}</span>
                </dd>
                <dt><span>Semob</span></dt>
                <dd>
                    <span>{{linha.semob}}</span>
                </dd>
                <dt><span>Tipo De Rota</span></dt>
                <dd>
                    <span>{{linha.tipoDeRota}}</span>
                </dd>
                <dt><span>Cidade</span></dt>
                <dd>
                    <div *ngIf="linha.cidadeId">
                        <a [routerLink]="['/cidade', linha.cidadeId, 'view']">{{linha.cidadeNome}}</a>
                    </div>
                </dd>
                <dt><span>Root</span></dt>
                <dd>
                    <div *ngIf="linha.rootId">
                        <a [routerLink]="['/linha', linha.rootId, 'view']">{{linha.rootId}}</a>
                    </div>
                </dd>
                <dt><span>Paradas</span></dt>
                <dd>
                    <span *ngFor="let paradas of linha.paradas; let last = last">
                        <a [routerLink]="['/parada', paradas?.id, 'view' ]">{{paradas.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/linha', linha.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
