<div>
    <h2 id="page-heading">
        <span>Linhas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-linha" [routerLink]="['/linha/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Linha
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="linhas?.length === 0">
        <span>No linhas found</span>
    </div>
    <div class="table-responsive" *ngIf="linhas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span>Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span>Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span>Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="completa"><span>Completa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastUpdate"><span>Last Update</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comentario"><span>Comentario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itinerarioTotalEncoding"><span>Itinerario Total Encoding</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emAvaliacao"><span>Em Avaliacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="faltaCadastrarPontosPesquisa"><span>Falta Cadastrar Pontos Pesquisa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="semob"><span>Semob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoDeRota"><span>Tipo De Rota</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cidadeNome"><span>Cidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rootId"><span>Root</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let linha of linhas ;trackBy: trackId">
                <td><a [routerLink]="['/linha', linha.id, 'view' ]">{{linha.id}}</a></td>
                <td>{{linha.nome}}</td>
                <td>{{linha.codigo}}</td>
                <td>{{linha.url}}</td>
                <td>{{linha.completa}}</td>
                <td>{{linha.lastUpdate | date:'medium'}}</td>
                <td>{{linha.comentario}}</td>
                <td>{{linha.itinerarioTotalEncoding}}</td>
                <td>{{linha.emAvaliacao}}</td>
                <td>{{linha.faltaCadastrarPontosPesquisa}}</td>
                <td>{{linha.semob}}</td>
                <td>{{linha.tipoDeRota}}</td>
                <td>
                    <div *ngIf="linha.cidadeId">
                        <a [routerLink]="['../cidade', linha.cidadeId , 'view' ]" >{{linha.cidadeNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="linha.rootId">
                        <a [routerLink]="['../linha', linha.rootId , 'view' ]" >{{linha.rootId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/linha', linha.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/linha', linha.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'linha', { outlets: { popup: linha.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="linhas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
