<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-linha-heading">Create or edit a Linha</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                           formControlName="codigo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_completa">Completa</label>
                    <input type="checkbox" class="form-control" name="completa" id="field_completa"
                           formControlName="completa"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdate">Last Update</label>
                    <div class="d-flex">
                        <input id="field_lastUpdate" type="datetime-local" class="form-control" name="lastUpdate" formControlName="lastUpdate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comentario">Comentario</label>
                    <input type="text" class="form-control" name="comentario" id="field_comentario"
                           formControlName="comentario"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_itinerarioTotalEncoding">Itinerario Total Encoding</label>
                    <input type="text" class="form-control" name="itinerarioTotalEncoding" id="field_itinerarioTotalEncoding"
                           formControlName="itinerarioTotalEncoding"/>
                    <div *ngIf="editForm.get('itinerarioTotalEncoding').invalid && (editForm.get('itinerarioTotalEncoding').dirty || editForm.get('itinerarioTotalEncoding').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('itinerarioTotalEncoding').errors.maxlength">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emAvaliacao">Em Avaliacao</label>
                    <input type="checkbox" class="form-control" name="emAvaliacao" id="field_emAvaliacao"
                           formControlName="emAvaliacao"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_faltaCadastrarPontosPesquisa">Falta Cadastrar Pontos Pesquisa</label>
                    <input type="checkbox" class="form-control" name="faltaCadastrarPontosPesquisa" id="field_faltaCadastrarPontosPesquisa"
                           formControlName="faltaCadastrarPontosPesquisa"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_semob">Semob</label>
                    <input type="checkbox" class="form-control" name="semob" id="field_semob"
                           formControlName="semob"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoDeRota">Tipo De Rota</label>
                    <select class="form-control" name="tipoDeRota" formControlName="tipoDeRota" id="field_tipoDeRota">
                        <option value="ONIBUS">ONIBUS</option>
                        <option value="CIRCUITO">CIRCUITO</option>
                        <option value="PATINS">PATINS</option>
                        <option value="BICICLETA">BICICLETA</option>
                        <option value="FLUVIAL">FLUVIAL</option>
                        <option value="INTERMUNICIPAL">INTERMUNICIPAL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cidade">Cidade</label>
                    <select class="form-control" id="field_cidade" name="cidade" formControlName="cidadeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cidadeOption.id" *ngFor="let cidadeOption of cidades; trackBy: trackCidadeById">{{cidadeOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_root">Root</label>
                    <select class="form-control" id="field_root" name="root" formControlName="rootId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="linhaOption.id" *ngFor="let linhaOption of linhas; trackBy: trackLinhaById">{{linhaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_paradas">Paradas</label>
                    <select class="form-control" id="field_paradas" multiple name="paradas" formControlName="paradas">
                        <option [ngValue]="getSelected(editForm.get('paradas').value, paradaOption)" *ngFor="let paradaOption of paradas; trackBy: trackParadaById">{{paradaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
