<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parada">
            <h2><span>Parada</span> {{parada.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{parada.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{parada.longitude}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{parada.status}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{parada.title}}</span>
                </dd>
                <dt><span>Comments</span></dt>
                <dd>
                    <span>{{parada.comments}}</span>
                </dd>
                <dt><span>Tipo De Rota Da Parada</span></dt>
                <dd>
                    <span>{{parada.tipoDeRotaDaParada}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parada', parada.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
